<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./assets/images/angular.png" width="45"> {{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Menu 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu 2</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>-->

  <header data-bs-theme="dark">
    <div class="text-bg-dark collapse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4>Acerca de mi ...</h4>
            <p class="text-body-secondary">Profesional especializado en Tecnologías de Información como desarrollador y programador de sistemas para el entorno Windows y Linux con 10 años de experiencia en el desarrollo de software.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4>Contacto</h4>
            <ul class="list-unstyled">
              <li>Whatssap : <a href="https://api.whatsapp.com/send?phone=527772585535" class="text-white">+527772585535</a></li>
              <li>Linkedin : <a href="http://linkedin.com/in/oscar-nava-a27709195" class="text-white"><i class="fa fa-linkedin-square" aria-hidden="true"></i> oscar-nava-a27709195</a></li>
              <li>Web Personal : <a href="https://oscar-nava.mx" class="text-white">https://oscar-nava.mx</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img src="./assets/images/angular.png" width="45"> {{title}}
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
