  <app-header></app-header>

  <!-- Resources -->
  <div class="container-fluid py-3">

  <h3 class="text-center">{{ miProyecto }}</h3>

  <div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./assets/images/gestion-clientes.png" width="45">
            <div class="card-body">
              <p class="card-text">Gestión Clientes</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-success">Ver Online</button>
                </div>
                <small class="text-body-secondary">Por Oscar Nava</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./assets/images/conversor-de-monedas.png" width="45">
            <div class="card-body">
              <p class="card-text">Conversor Monedas</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary">Ver Online</button>
                </div>
                <small class="text-body-secondary">Por Oscar Nava</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./assets/images/control-escolar.jpg" width="45">
            <div class="card-body">
              <p class="card-text">Control Escolar</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Ver Online</button>
                </div>
                <small class="text-body-secondary">Por Oscar Nava</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./assets/images/inventario.png" width="45">
            <div class="card-body">
              <p class="card-text">Inventario</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-secondary">Ver Online</button>
                </div>
                <small class="text-body-secondary">Por Oscar Nava</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./assets/images/covid-19.png" width="45">
            <div class="card-body">
              <p class="card-text">Reporte COVID - 19</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning text-white">Ver Online</button>
                </div>
                <small class="text-body-secondary">Por Oscar Nava</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./assets/images/clima.jpg" width="45">
            <div class="card-body">
              <p class="card-text">Clima</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-success">Ver Online</button>
                </div>
                <small class="text-body-secondary">Por Oscar Nava</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-footer></app-footer>

  </div>
